<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>You Got Next?</title>
  <link href="https://fonts.googleapis.com/css2?family=Unlock&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/ScreenSaver.css">
</head>
<body>
    <div class="screen-saver">
      <div class="title-text"><%= titleText %></div>
      <div class="bars-container">
        <div class="yellow-bar"></div>
        <div class="blue-bar"></div>
        <div class="click-text"><%= clickText %></div>
        <div class="our-logo">
            <svg width="70" height="70" viewBox="0 0 70 70" fill="#FFCE3A" xmlns="http://www.w3.org/2000/svg">
                <path d="M26.8333 11.2493C26.8333 14.2328 25.7271 17.0941 23.758 19.2037C21.7888 21.3134 19.1181 22.4986 16.3333 22.4986C13.5486 22.4986 10.8778 21.3134 8.90871 19.2037C6.93958 17.0941 5.83333 14.2328 5.83333 11.2493C5.83333 8.26579 6.93958 5.40449 8.90871 3.29484C10.8778 1.18519 13.5486 1.19794e-06 16.3333 1.19794e-06C19.1181 1.19794e-06 21.7888 1.18519 23.758 3.29484C25.7271 5.40449 26.8333 8.26579 26.8333 11.2493ZM4.66667 24.9984C3.42899 24.9984 2.242 25.5252 1.36683 26.4628C0.491665 27.4004 0 28.6721 0 29.9981V52.4966C-4.52009e-08 54.7946 0.422474 57.0701 1.2433 59.1932C2.06413 61.3162 3.26723 63.2453 4.78392 64.8702C6.30061 66.4951 8.10119 67.7841 10.0828 68.6635C12.0645 69.5429 14.1884 69.9955 16.3333 69.9955C18.4783 69.9955 20.6022 69.5429 22.5838 68.6635C24.5655 67.7841 26.3661 66.4951 27.8827 64.8702C29.3994 63.2453 30.6025 61.3162 31.4234 59.1932C32.2442 57.0701 32.6667 54.7946 32.6667 52.4966V29.9981C32.6667 28.6721 32.175 27.4004 31.2998 26.4628C30.4247 25.5252 29.2377 24.9984 28 24.9984H4.66667ZM31.5 11.2493C31.5 14.4991 30.6133 17.5239 29.0733 20.0637C31.0007 20.3037 32.746 21.1636 34.132 22.4636C34.4151 22.4836 34.7044 22.4952 35 22.4986C36.6544 22.4984 38.2853 22.0795 39.7599 21.2759C41.2345 20.4723 42.5109 19.3067 43.4852 17.8743C44.4595 16.4418 45.1041 14.783 45.3664 13.0329C45.6287 11.2829 45.5014 9.49127 44.9947 7.80401C44.488 6.11674 43.6163 4.58163 42.4508 3.32378C41.2852 2.06594 39.8587 1.12096 38.2876 0.565884C36.7164 0.0108046 35.045 -0.138669 33.4097 0.129645C31.7744 0.397959 30.2214 1.07647 28.8773 2.10987C30.5293 4.7147 31.5 7.8595 31.5 11.2493ZM30.3333 69.2706C32.5361 67.1597 34.2982 64.5746 35.5045 61.6841C36.7107 58.7936 37.3339 55.6629 37.3333 52.4966V29.9981C37.3333 28.1782 36.876 26.4683 36.0827 24.9984H46.6667C47.9043 24.9984 49.0913 25.5252 49.9665 26.4628C50.8417 27.4004 51.3333 28.6721 51.3333 29.9981V52.4966C51.334 55.2224 50.7403 57.9107 49.5995 60.3472C48.4587 62.7836 46.8025 64.9008 44.7627 66.5301C42.723 68.1594 40.3562 69.2556 37.851 69.7314C35.3458 70.2072 32.7715 70.0494 30.3333 69.2706ZM50.1667 11.2493C50.1667 14.4991 49.28 17.5239 47.74 20.0637C49.6673 20.3037 51.4127 21.1636 52.7987 22.4636C53.0818 22.4836 53.3711 22.4952 53.6667 22.4986C55.321 22.4984 56.952 22.0795 58.4266 21.2759C59.9011 20.4723 61.1776 19.3067 62.1519 17.8743C63.1262 16.4418 63.7708 14.783 64.0331 13.0329C64.2954 11.2829 64.168 9.49127 63.6613 7.80401C63.1547 6.11674 62.283 4.58163 61.1174 3.32378C59.9519 2.06594 58.5254 1.12096 56.9542 0.565884C55.3831 0.0108046 53.7117 -0.138669 52.0764 0.129645C50.4411 0.397959 48.8881 1.07647 47.544 2.10987C49.196 4.7147 50.1667 7.8595 50.1667 11.2493ZM49 69.2706C51.2028 67.1597 52.9649 64.5746 54.1712 61.6841C55.3774 58.7936 56.0006 55.6629 56 52.4966V29.9981C56 28.1782 55.5427 26.4683 54.7493 24.9984H65.3333C66.571 24.9984 67.758 25.5252 68.6332 26.4628C69.5083 27.4004 70 28.6721 70 29.9981V52.4966C70.0007 55.2224 69.4069 57.9107 68.2662 60.3472C67.1254 62.7836 65.4691 64.9008 63.4294 66.5301C61.3896 68.1594 59.0228 69.2556 56.5177 69.7314C54.0125 70.2072 51.4382 70.0494 49 69.2706Z" fill="#FFCE3A"/>
            </svg>
        </div>
        <script src="public/scripts.js"></script>
    </div>
</body>
</html>

