<!DOCTYPE html>
<html>
<head>
    <title>You Got Next?: Create team:</title>
</head>
<body>
    <h2>Create team</h2>
    <!-- Include jQuery from CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <form action="/signup" method="POST">
        <!--
        <label for="username">Username:</label>
        <input type="text" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required><br><br>
        -->
        <label for="team name">Team Name:</label>
        <input type="text" id = "team_name" name="team_name" required><br><br>

        <label for="team captain">Team captain:</label>
        <input type="text" id = "team_captain" name="team_captain" required><br><br>

        <label for="player 2">Player 2:</label>
        <input type="text" id = "player2" name="player2"><br><br>

        <label for="player 3">Player 3:</label>
        <input type="text" id = "player3" name="player3"><br><br>
        
        <label for="player 4">Player 4:</label>
        <input type="text" id = "player4" name="player4"><br><br>
        
        <label for="player 5">Player 5:</label>
        <input type="text" id = "player5" name="player5"><br><br>
        
        <button type="submit">Signup</button>
    </form>

    <script>
        $(document).ready(function(){
            $('.form').on('submit', function(){
                alert('Your details were successfully received.');
            });
        });
    </script>
</body>
</html>