<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>You Got Next?</title>
  <link href="https://fonts.googleapis.com/css2?family=Unlock&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/Waitlist.css">
</head>
<div class="waitlist">

    <div class="title-logo">
        <div class="title">You Got Next?</div>
        <div class="our-logo">
            <svg width="45" height="45" viewBox="0 0 45 45" fill="#000000" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.25 7.23168C17.25 9.14964 16.5388 10.989 15.273 12.3452C14.0071 13.7015 12.2902 14.4634 10.5 14.4634C8.70979 14.4634 6.9929 13.7015 5.72703 12.3452C4.46116 10.989 3.75 9.14964 3.75 7.23168C3.75 5.31372 4.46116 3.47431 5.72703 2.11811C6.9929 0.761908 8.70979 7.70103e-07 10.5 7.70103e-07C12.2902 7.70103e-07 14.0071 0.761908 15.273 2.11811C16.5388 3.47431 17.25 5.31372 17.25 7.23168ZM3 16.0704C2.20435 16.0704 1.44129 16.409 0.87868 17.0118C0.31607 17.6145 0 18.4321 0 19.2845V33.7478C-2.90577e-08 35.2251 0.27159 36.6879 0.799265 38.0527C1.32694 39.4176 2.10036 40.6577 3.07538 41.7023C4.05039 42.7469 5.2079 43.5755 6.48182 44.1408C7.75574 44.7061 9.12112 44.9971 10.5 44.9971C11.8789 44.9971 13.2443 44.7061 14.5182 44.1408C15.7921 43.5755 16.9496 42.7469 17.9246 41.7023C18.8996 40.6577 19.6731 39.4176 20.2007 38.0527C20.7284 36.6879 21 35.2251 21 33.7478V19.2845C21 18.4321 20.6839 17.6145 20.1213 17.0118C19.5587 16.409 18.7957 16.0704 18 16.0704H3ZM20.25 7.23168C20.25 9.32083 19.68 11.2654 18.69 12.8981C19.929 13.0524 21.051 13.6052 21.942 14.4409C22.124 14.4537 22.31 14.4612 22.5 14.4634C23.5635 14.4633 24.612 14.194 25.5599 13.6773C26.5079 13.1607 27.3284 12.4115 27.9548 11.4906C28.5811 10.5697 28.9955 9.50333 29.1641 8.37832C29.3328 7.25331 29.2509 6.10153 28.9251 5.01686C28.5994 3.93219 28.0391 2.94533 27.2898 2.13672C26.5405 1.3281 25.6235 0.720619 24.6134 0.363782C23.6034 0.00694582 22.529 -0.0891445 21.4777 0.0833432C20.4264 0.255831 19.4281 0.692014 18.564 1.35634C19.626 3.03088 20.25 5.05253 20.25 7.23168ZM19.5 44.5311C20.9161 43.1741 22.0489 41.5122 22.8243 39.654C23.5998 37.7959 24.0004 35.7833 24 33.7478V19.2845C24 18.1146 23.706 17.0153 23.196 16.0704H30C30.7957 16.0704 31.5587 16.409 32.1213 17.0118C32.6839 17.6145 33 18.4321 33 19.2845V33.7478C33.0004 35.5001 32.6187 37.2283 31.8854 38.7946C31.152 40.3609 30.0873 41.722 28.776 42.7694C27.4648 43.8167 25.9433 44.5214 24.3328 44.8273C22.7223 45.1332 21.0674 45.0317 19.5 44.5311ZM32.25 7.23168C32.25 9.32083 31.68 11.2654 30.69 12.8981C31.929 13.0524 33.051 13.6052 33.942 14.4409C34.124 14.4537 34.31 14.4612 34.5 14.4634C35.5635 14.4633 36.612 14.194 37.5599 13.6773C38.5079 13.1607 39.3284 12.4115 39.9548 11.4906C40.5811 10.5697 40.9955 9.50333 41.1641 8.37832C41.3328 7.25331 41.2509 6.10153 40.9251 5.01686C40.5994 3.93219 40.0391 2.94533 39.2898 2.13672C38.5405 1.3281 37.6235 0.720619 36.6134 0.363782C35.6034 0.00694582 34.529 -0.0891445 33.4777 0.0833432C32.4264 0.255831 31.4281 0.692014 30.564 1.35634C31.626 3.03088 32.25 5.05253 32.25 7.23168ZM31.5 44.5311C32.9161 43.1741 34.0489 41.5122 34.8243 39.654C35.5998 37.7959 36.0004 35.7833 36 33.7478V19.2845C36 18.1146 35.706 17.0153 35.196 16.0704H42C42.7957 16.0704 43.5587 16.409 44.1213 17.0118C44.6839 17.6145 45 18.4321 45 19.2845V33.7478C45.0004 35.5001 44.6187 37.2283 43.8854 38.7946C43.152 40.3609 42.0873 41.722 40.776 42.7694C39.4648 43.8167 37.9433 44.5214 36.3328 44.8273C34.7223 45.1332 33.0674 45.0317 31.5 44.5311Z" fill="black"/>
            </svg>    
        </div>
    </div>

    <div class="scoreboard">
        <div class="court-name"><%= court_name %></div>
        <div class="vs">vs</div>

        <div class="left-team">
            <div class="left-logo"></div>
            <div class="left-name"><%= left_name %> </div>
        </div>

        <div class="right-team">
            <div class="right-logo">
                <svg width="110" height="172" viewBox="0 0 110 172" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="55" cy="50" r="50" fill="#391CDC"/>
                    <path d="M48.0301 152.272C48.0301 153.659 47.8488 154.811 47.4861 155.728C47.1448 156.624 46.6861 157.328 46.1101 157.84C45.5341 158.352 44.8941 158.715 44.1901 158.928C43.5075 159.141 42.8248 159.248 42.1421 159.248C41.5875 159.248 40.8941 159.195 40.0621 159.088C39.2515 158.981 38.5688 158.843 38.0141 158.672V157.36L43.4861 147.6H40.6061L37.4381 153.264H34.9421L34.3981 146.16C35.4861 145.861 36.5741 145.627 37.6621 145.456C38.7501 145.285 39.8488 145.2 40.9581 145.2C43.3475 145.2 45.1181 145.733 46.2701 146.8C47.4435 147.867 48.0301 149.691 48.0301 152.272ZM44.0941 163.824C44.0941 164.613 44.0088 165.2 43.8381 165.584C43.6675 165.968 43.3475 166.213 42.8781 166.32C42.4301 166.427 41.7795 166.48 40.9261 166.48C39.9661 166.48 39.2301 166.427 38.7181 166.32C38.2061 166.213 37.8541 165.968 37.6621 165.584C37.4915 165.2 37.4061 164.613 37.4061 163.824C37.4061 163.035 37.5021 162.459 37.6941 162.096C37.8861 161.712 38.2381 161.467 38.7501 161.36C39.2621 161.232 39.9981 161.168 40.9581 161.168C41.8115 161.168 42.4621 161.232 42.9101 161.36C43.3581 161.467 43.6675 161.712 43.8381 162.096C44.0088 162.459 44.0941 163.035 44.0941 163.824ZM62.3114 152.272C62.3114 153.659 62.13 154.811 61.7674 155.728C61.426 156.624 60.9674 157.328 60.3914 157.84C59.8154 158.352 59.1754 158.715 58.4714 158.928C57.7887 159.141 57.106 159.248 56.4234 159.248C55.8687 159.248 55.1754 159.195 54.3434 159.088C53.5327 158.981 52.85 158.843 52.2954 158.672V157.36L57.7674 147.6H54.8874L51.7194 153.264H49.2234L48.6794 146.16C49.7674 145.861 50.8554 145.627 51.9434 145.456C53.0314 145.285 54.13 145.2 55.2394 145.2C57.6287 145.2 59.3994 145.733 60.5514 146.8C61.7247 147.867 62.3114 149.691 62.3114 152.272ZM58.3754 163.824C58.3754 164.613 58.29 165.2 58.1194 165.584C57.9487 165.968 57.6287 166.213 57.1594 166.32C56.7114 166.427 56.0607 166.48 55.2074 166.48C54.2474 166.48 53.5114 166.427 52.9994 166.32C52.4874 166.213 52.1354 165.968 51.9434 165.584C51.7727 165.2 51.6874 164.613 51.6874 163.824C51.6874 163.035 51.7834 162.459 51.9754 162.096C52.1674 161.712 52.5194 161.467 53.0314 161.36C53.5434 161.232 54.2794 161.168 55.2394 161.168C56.0927 161.168 56.7434 161.232 57.1914 161.36C57.6394 161.467 57.9487 161.712 58.1194 162.096C58.29 162.459 58.3754 163.035 58.3754 163.824ZM76.5926 152.272C76.5926 153.659 76.4113 154.811 76.0486 155.728C75.7073 156.624 75.2486 157.328 74.6726 157.84C74.0966 158.352 73.4566 158.715 72.7526 158.928C72.07 159.141 71.3873 159.248 70.7046 159.248C70.15 159.248 69.4566 159.195 68.6246 159.088C67.814 158.981 67.1313 158.843 66.5766 158.672V157.36L72.0486 147.6H69.1686L66.0006 153.264H63.5046L62.9606 146.16C64.0486 145.861 65.1366 145.627 66.2246 145.456C67.3126 145.285 68.4113 145.2 69.5206 145.2C71.91 145.2 73.6806 145.733 74.8326 146.8C76.006 147.867 76.5926 149.691 76.5926 152.272ZM72.6566 163.824C72.6566 164.613 72.5713 165.2 72.4006 165.584C72.23 165.968 71.91 166.213 71.4406 166.32C70.9926 166.427 70.342 166.48 69.4886 166.48C68.5286 166.48 67.7926 166.427 67.2806 166.32C66.7686 166.213 66.4166 165.968 66.2246 165.584C66.054 165.2 65.9686 164.613 65.9686 163.824C65.9686 163.035 66.0646 162.459 66.2566 162.096C66.4486 161.712 66.8006 161.467 67.3126 161.36C67.8246 161.232 68.5606 161.168 69.5206 161.168C70.374 161.168 71.0246 161.232 71.4726 161.36C71.9206 161.467 72.23 161.712 72.4006 162.096C72.5713 162.459 72.6566 163.035 72.6566 163.824Z" fill="black"/>
                </svg> 
            </div>
            <div class="right-name"><%= right_name %> </div>
        </div>
    </div>

</div>
</body>
</html>


