label {
    display: block;
    margin-top: 1em;
  }
  
  input:invalid {
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
  }
  
  input:required {
    border-color: #800000;
    border-width: 3px;
  }

  input[type=text] {
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
    background-color: lightblue;
    width: 100%;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
